<div class="display-view">
  <app-manga-image [image]="currentImage"></app-manga-image>
  <div class="row-tools">
    <button mat-raised-button color="warn" aria-label="Example icon button with a home icon">
      Перевести следующий элемент
      <mat-icon>g_translate</mat-icon>
    </button>
    <button mat-raised-button color="warn" aria-label="Example icon button with a home icon">
      Перевести все элементы
      <mat-icon>g_translate</mat-icon>
    </button>
    <button mat-raised-button color="warn" aria-label="Example icon button with a home icon">
      Увеличить маштаб<mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-raised-button color="warn" aria-label="Example icon button with a home icon">
      Уменьшить маштаб<mat-icon>zoom_out</mat-icon>
    </button>
    <div class="row-tools">
      <button (click)="onNext($event)" mat-raised-button color="warn" aria-label="Example icon button with a home icon">
        Вперёд <mat-icon>arrow_forward</mat-icon>
      </button>
      <button (click)="onBack($event)" mat-raised-button color="warn" aria-label="Example icon button with a home icon">
        Назад <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>
</div>
